{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static', filename='img/daisy.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hey there! I'm Imane, a passionate 21-year-old engineering student specializing in network systems 
          and programmable services. My journey into the world of programming began with a curiosity-driven dive 
          into the realm of web development.</p>
        <p>As an avid learner and enthusiast of technology, I embarked on a transformative adventure through the 
          <a href="https://www.udemy.com/course/100-days-of-code/?utm_source=adwords&utm_medium=udemyads&utm_campaign=Python_v.PROF_la.EN_cc.ROWMTA-B_ti.7380&utm_content=deal4584&utm_term=_._ag_80869582031_._ad_533999956687_._kw__._de_c_._dm__._pl__._ti_dsa-774930046209_._li_2528_._pd__._&matchtype=&gad_source=1&gclid=CjwKCAiA6KWvBhAREiwAFPZM7m-jwJHK6buht7cyzumnbTI2RInA8_XTSRi4j5XITMOromhOK3OAYRoCe6AQAvD_BwE&couponCode=2021PM20" target="_blank">
            100 Days of Code</a> 
          course. Throughout this immersive experience, I delved deep into the world of web development.</p>
        <p>The project you're currently exploring is a testament to my dedication to continuous learning and 
          passion for creating digital experiences that leave a lasting impression. 
          Inspired by real-world challenges and driven by a desire to push the boundaries of what's possible, 
          I poured countless hours into building this website from the ground up.</p>
        <p>So take a moment to explore, to discover, and to immerse yourself in the digital world I've created. 
          And remember, the journey doesn't end here—it's only just beginning.</p>
          <p>
          Thank you for being a part of this adventure with me.
          </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}